{
   project =
   {
      description="🔤 UTF8-16-32 analysis and manipulation library";
      domain="github";
      name="mulle-utf";
      user="mulle-c";
      repo="mulle-utf";
      homepage="https://github.com/mulle-c/mulle-utf";
      license="BSD-3-Clause"
   };
   dependencies =
   (
      {
         description="🔄 Flexible C memory allocation scheme";
         domain="github";
         name="mulle-allocator";
         repo="mulle-allocator";
         url="https://github.com/mulle-c/mulle-allocator";
         user="mulle-c";
      },
      {
         description="#️⃣ A collection of hash functions";
         domain="github";
         name="mulle-data";
         repo="mulle-data";
         url="https://github.com/mulle-c/mulle-data";
         user="mulle-c";
      }
   );
}
